# App
EMAIL_RECIPIENTS=staging@example.com
BASIC_AUTH_ENABLED=false
SMTP_ADDRESS=smtp.example.com
SMTP_DOMAIN=example.com
SMTP_PASSWORD=password
SMTP_USERNAME=username

# Server and Environment
APPLICATION_HOST=localhost:3000
ASSET_HOST=localhost:3000
MAX_THREADS=5
PORT=3000
RACK_ENV=development
RACK_MINI_PROFILER=0
WEB_CONCURRENCY=1

# Database
DB_POOL=5
DB_REAPING_FREQUENCY=10

# Redis
REDIS_URL=redis://127.0.0.1

# Tests
COVERAGE=false
RUN_HEADLESSLY=true

# Deploy
RENDER_WEB_SERVICE_KEY=some-key
RENDER_WORKER_SERVICE_KEY=some-key
