<div data-controller="hello">
  <h1 class="text-4xl font-bold text-gray-900 md:text-5xl" data-hello-target="output"></h1>
  <h2 class="mt-6 text-2xl" > You have viewed this page <%= @page_hits %> times! </h2>
</div>